
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

* {
  font-family: 'Fira Sans Condensed', sans-serif;
}

body {
  --divs-color: white;
  --dropdown-hover: rgba(221, 221, 221, 0.527);
  --btn-edit-colors: linear-gradient(to right, #009cbf 0%, #26D0CE  51%, #1A2980  100%);
  --box-shadow_1: 0 0 20px #eee;
  --black-white: black;
  --grey-darken: #60605f;
  --profile-banner: url('./images/profile-light.jpg');
  --banner-color: #BCDADA;
  --slide-menu-img: url('./images/menu-dark.png');

  height: 100vh;
  background-attachment:fixed;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  margin: 0;
}

body.dark {
  --divs-color: #444444;
  --dropdown-hover: rgba(102, 102, 102, 0.527);
  --btn-edit-colors: linear-gradient(to right, #517fa4 0%, #243949  51%, #517fa4  100%);
  --box-shadow_1: none;
  --black-white: #EEEEEE;
  --grey-darken: #a8a8a7;
  --profile-banner: url('./images/profile-dark.jpg');
  --banner-color: #866D95;
  --slide-menu-img: url('./images/menu-light.png');

  background-image: linear-gradient(-20deg, #333 0%, #333 100%);
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--divs-color);
  color: #0092b3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* .logo-div {
  position: relative;
  left: 9%;
} */

.logo {
  /* float: left;
  height: 70px;  
  padding-top: 5px; */
  margin-top: 0.5rem;
  margin-left: 7rem;
  max-width: 11rem;
  max-height: 11rem;
}

.hidden-menu-container {
  display: none;
  position: fixed;
  top:75px;
  flex-direction: row;
  align-items:stretch;
  width: 100vw;
  z-index:10;
  height: 100vh;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 150px;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #0092b3;
    padding-bottom: 8px;
    margin-right: 5rem;
    font-size: 1.2rem;
    font-weight:500;
    text-transform: uppercase;  
}

.hidden-li {
  display: none;
}

.navbar-links li a:hover {
    color: #e78200;
}

.navbar-links li a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #e78200;
  border-radius: 35px;
  position: relative;
  top:55px;
  width:0%;
}

.navbar-links li a:hover::before {
  width: 100%;
}

.dropdown .dropbtn {
  font-size: 1.2rem;  
  position: relative;
  top: 5px;
  border: none;
  outline: none;
  color: #0092b3;
  font-weight: 400;
}

.dropdown:hover .dropbtn {
  color: #e78200;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 52px;
  background-color: var(--divs-color);
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
  float: none;
  color: #0092b3;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-transform: uppercase;
  font-weight:500;
  font-size: 18px;
}

.dropdown-content a:hover {
  background-color: var(--dropdown-hover);
  color: #e78200;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #e78200;
  border-radius: 35px;
  position: absolute;
  bottom: 0;
  width:0%;
}

.dropdown-content:hover::before {
  width: 100%;
}

.mobile-nav-toggle {
  display: none;
}

.blurred-background {
  
  visibility: hidden;
  opacity: 0;
}

.div-container {
  position: relative;
  top: 95px;
  left: 5%;
  width: 90%;
}

.div1 {
  /* background-color:var(--divs-color); */
  background-color: var(--banner-color);
  background-image: var(--profile-banner);
  /* background-position: bottom; */
  background-repeat:no-repeat;
  background-size:cover;
  margin-bottom: 20px;
  padding-top: 15px;
  border-radius: 15px;
  padding-bottom: 30px;
  /* width: 105%; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.div2 {
  background-color:var(--divs-color);
  padding-top: 15px;
  border-radius: 15px;
  padding-bottom: 20px;
  /* height: 200px; */
  /* background-color: #DFDED6; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.div2-table {
  padding-left: 20px;
  padding-right: 20px;
}

.button-edit {
  height: 30px;
  width: 150px;
  background-image: var(--btn-edit-colors);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: 2px solid white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: var(--box-shadow_1);
  border-radius: 10px;
}

.button-edit::-moz-focus-inner { 
  border: 0; 
  padding: 0; 
  margin:0; 
}

.button-edit:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}

.h2-username {
  color: var(--black-white);
}

.label-gender {
  color:var(--grey-darken); 
  font-size: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  
}

th {
  color: var(--black-white);
  height: 50px;
  width:25%;
  text-align:left;
  font-size: 1.1rem;
}

td {
  color: var(--grey-darken);
  font-size: 1.1rem;
}

tr {
  height: 35px;
  text-align:left;
}

@media all and (max-width:1422px) {

  .navbar-links ul{
      right: 25%;
    }

}

@media all and (max-width:1120px) {

  .navbar-links {
    position: fixed;
    top: 0;
    bottom:0;
    right: 0;
    left: 40%;
    background:var(--divs-color);
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .navbar-links[data-visible="true"] { 
    transform: translateX(0%);
  }

  .navbar-links ul {
    display: block;
    padding-top: 80px;
  }

  .navbar-links ul a {
    margin-bottom: 50px;
  }

  .blurred-background {
    position: fixed;
    top:82.3px;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    /* background-color: hsl(0%, 100%, 0) 0.8rem; */
    /* backdrop-filter: blur(1rem); */
    background-color: rgba(80, 79, 79, 0.6);
  }

  .dropdown .dropbtn {
    display: none;
  }

  .navbar-links li a:hover::before {
    width: 0%;
  }

  .hidden-li {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    right: 3rem;
    top: 1.5rem;
    background-color: transparent;
    background-image: var(--slide-menu-img);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    z-index: 9999;
  }

  .logo {
    /* float: left;
    height: 70px;  
    padding-top: 5px; */
    /* margin-top: 0.5rem; */
    margin-left: 2rem;
    /* max-width: 11rem; */
    /* max-height: 11rem; */
  }

}

@media all and (max-width:1010px) {

  th {
    width:40%;
  }

}

/* mobile */
@media all and (max-width:414px) {

  .logo {
    position: relative;
    right: 15px;
  }

  .mobile-nav-toggle {
    right: 0rem;
    left: 22rem;
  }

  .div-container {
    width: 100vw;
    left: 0%;
    top: 86px;
  }

  .div1 {
    border-radius: 0;
  }

  .div2 {
    border-radius: 0;
  }

}